<h3 class="text-center fw-bold mb-5">{{ category.name }}</h3>
      
  <div class="cards-box d-flex flex-wrap justify-content-center">
      
    {% for product in products %}

      <div class="product-card d-flex flex-column mb-3">
        <img src="{{ asset('upload/images/products/' ~ product.image) }}" alt="" class="card-img-top img-fluid">
        <div class="product-details text-center">
          <p>{{ product.description|raw }}</p>
        </div>
        <div class="product-price text-center fw-bold">{{ (product.price / 100)|number_format(2, ',', '.') }} €</div>
          {% if product.stock == 0 %}
            <p class="product-stock"><span class="red-dot">&#8226;</span>Épuisé</p>
          {% endif %}
        <button class="btn-add-card" data-product-id="{{ product.id }}" data-product-stock="{{ product.stock }}">Ajouter au panier</button>
      </div>

      {% endfor %}
  
  </div>

{% block javascripts %}
        <script src="{{ asset('assets/js/add_to_cart.js') }}"></script>
{% endblock %}
