{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}

    <div class="container-fluid">
            
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb mt-2">
                <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mes commandes</li>
            </ol>
        </nav>
            
        <h3 class="text-center fw-bold mb-5">Mes commandes</h3>
             
                {% for order in newOrders %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>№ de commande </th>
                                <th>Date</th>
                                <th>Prix total</th>
                                <th>Statut</th>
                                <th>Facture</th>
                                <th>Détail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in order.ordersDetails %}
                                <tr>
                                    <td> {{ order.reference }} </td>
                                    <td> {{ order.createdAt|date('Y-m-d')}} </td>
                                    <td> {{ order.totalPrice / 100 }} €</td>
                                    <td>
                                        {% if order.prepared %}
                                        <span class="fw-bold fst-italic text-success">Prêt</span>
                                        {% else %}
                                        <span class="fw-bold fst-italic text-secondary">En attente</span>
                                        {% endif %}
                                    </td>
                                    <td>Facture</td>
                                    <td><a href="{{ path('order_details', {'id': order.id}) }}">Voir les détails</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                          
                        </tfoot>
                    </table>
                {% endfor %}
       
    </div>
{% endblock %}