{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row justify-content-center">
            
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Panier</li>
        </ol>
    </nav>
            
    <h3 class="text-center fw-bold mb-3">Panier</h3>
    
    <div class="col-md-12 col-lg-8">
      {% for item in data %}
          
      <div class="cart-item mb-3">
        <img class="img-item" src="{{ item.product.image }}" alt="product1">
          <div class="product-info">
            <p>{{ item.product.description }}</p>
            <span>Prix unité: {{ item.product.price }} €</span>
          </div>
          <div class="quantity-item d-flex align-items-center">
            <a href=""><img src="../assets/img/icon-minus-black32.png" alt=""></a>
            <span class="quantity">{{ item.quantity }}</span>
            <a href=""><img src="../assets/img/icon-plus-black.png" alt=""></a>
          </div> 
          <span class="total-price-item"><strong>Prix total: {{ item.quantity * item.product.price }} €</strong></span>
          <a class="delete-icon" href=""><img src="../assets/img/icon-delete.png" alt=""></a>
      </div>

      {% else %}

        <p>Votre panier est vide</p>

      {% endfor %}

    </div>

    <div class="col-md-12 col-lg-4">
      <div class="total-price-cart d-flex flex-column">
        <div class="total-price d-flex justify-content-between fw-bold">
          <p>Prix total du panier:</p>
          <span>{{ total }} €</span>
        </div>
        <button class="pay-btn fw-bold" type="submit">Réserver</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}