<div class="header">
  <div class="contact-info d-flex justify-content-end">
    <span class="contact-item">
    <img class="localis-icon" src="../assets/img/icons8-location-48.png" alt="geolocation">
    <span class="address d-inline align-middle">
      <a href="https://www.google.com/maps/place/50+Bd+Jean+Mermoz,+35136+Saint-Jacques-de-la-Lande/@48.0953112,-1.6990676,17z/data=!3m1!4b1!4m6!3m5!1s0x480ee077cb19bc11:0xaf2190f0a97d4862!8m2!3d48.0953076!4d-1.6964927!16s%2Fg%2F11h56b_9_x?authuser=0&entry=ttu" target="_blank" rel="noopener">50 Bd Jean Mermoz, 35136 Saint-Jacques-de-la-Lande</a>
    </span>
    </span>
    <span class="contact-item">Mardi - Dimanche, de 10:00 à 20:00</span>
    <span class="contact-item">01 02 03 04 05</span>
  </div>

  <h1>Kalinka</h1>

  <div class="header-content d-flex flex-column justify-content-right">

    <div class="header-search-icons d-flex mb-3">
      <div class="title2 me-auto align-self-center">Épicerie et saveurs des pays de l'est</div>

        <div class="search-icons d-flex justify-content-between align-items-center">
              
          <div class="search-bar">
            {{ render(controller('App\\Controller\\SearchController::search')) }}
          </div>
              
            <div class="profil-icons d-flex">
              <div class="mobile-title me-auto">Kalinka</div>
                <div>
                  {% if app.user %}
                  <img src="../assets/img/icons-user-green.png" alt="user" class="user" id="prof-icon">
                  {% else %}
                  <img src="../assets/img/icons8-user-48.png" alt="user" class="user" id="prof-icon">
                  {% endif %}
                </div>
                <div>
                  <a href="{{ path('shopping_cart') }}"><img src="../assets/img/icons8-shopping-cart-60.png" alt="shopping" class="shop-cart" id="prof-icon"></a>
                </div>
            </div>

        </div>
    </div>
 
  </div>

  <div class="log-reg align-items-center justify-content-center">
    {% if app.user %} 

      {# utilisateur connecté Admin #}
      {% if is_granted('ROLE_ADMIN') %} 
        <a href="{{ path('admin') }}">Dashboard</a>
        <a href="{{ path('app_logout') }}">/ Déconnexion</a>
        
      {% else %} 
        <div class="user-log-reg d-flex flex-column">
          <a href="{{ path('app_user_info') }}"><img src="../assets/img/user-48.png" alt=""> Mon profil</a>
          <a href="app_orders"><img src="../assets/img/icon-box48.png" alt=""> Mes commandes</a>
          {# <a href="#"><img src="../assets/img/icons8-heart-60.png" alt=""> Les produits souhaités</a> #}
          <a href="{{ path('app_logout') }}"><img src="../assets/img/icon-exit48.png" alt=""> Déconnexion</a>
        </div>
      {% endif %}
    
      {% else %} 
        <a href="{{ path('app_login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">/ Inscription</a>
      {% endif %}
  </div>

</div>
{# 
 <div class="d-flex nav-bar">
    <a href="{{ path('app_index') }}">Accueil</a>
    <a href="">A propos</a>
    <a href="">Payment</a>
  </div> #}

{% block javascripts %}
  <script src="{{ asset('assets/js/header.js') }}"></script>
{% endblock %}